<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
	<link rel="stylesheet" href="/Indeft_site/styles/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Indeft_site/styles/style2.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.compat.css" integrity="sha512-gFn7XRm5v3GlgOwAQ80SXDT8pyg6uaV9JbW2OkNx5Im2jR8zx2X/3DbHymcZnUraU+klZjRJqNfNkFN7SyR3fg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, #503c4c, #a590a1);
            background-size: 100%,10%;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
        
        .hover-image{
            transform: scale(1);
        }

        .hover-image:hover{
            transform: scale(1.03);
            transition:  0.5s all ease-in-out;
        }

       
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <img src="/Indeft_site/images/logo.png" alt="..." style="width: 70px; height: 70px; border-radius: 50%;" />

                <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="overflow: hidden;">

                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" style="border:red;">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item d-flex mt-10">
                                <a class="nav-link active" aria-current="page" href="/Indeft_site/templates/Home.html" id="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Indeft_site/templates/Blogs/Blogs.html">Blogs</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Services
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" style="">Industries</a>
                                <!-- Mega menu -->
                                <div class="mega-menu">
                                    <div class="container" style="">
                                        <div class="row" style="">
                                            <div class="industries_megamenu col-md-8" style="">


                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Oil and Gas (CGD/utility)</p>
                                                        <a href="/Indeft_site/templates/Industries/oilAndGas.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Healthcare</p>
                                                        <a href="/Indeft_site/templates/Industries/Healthcare.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Logistics</p>
                                                        <a href="/Indeft_site/templates/Industries/Logistics.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- Your content for the 8-column section -->
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">e-Commerce</p>
                                                        <a href="/Indeft_site/templates/Industries/eCommerse.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">FMCG</p>
                                                        <a href="/Indeft_site/templates/Industries/FMCG.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Food & Restaurant</p>
                                                        <a href="/Indeft_site/templates/Industries/Food.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Education/ e-Learning</p>
                                                        <a href="/Indeft_site/templates/Industries/Education.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Travel & Hospitality</p>
                                                        <a href="/Indeft_site/templates/Industries/travel.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Parking, Permit & Traffic Industry</p>
                                                        <a href="/Indeft_site/templates/Industries/Parking.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="" id="megaimg">
                                                    <div class="card-body" style="position: absolute;">
                                                        <p class="card-text">Entertainment</p>
                                                        <a href="/Indeft_site/templates/Industries/Entertainment.html" class="ricon"><span>&#8594;</span> </i>
                                              </a>
                                                    </div>
                                                </div>
                                                <div style="border-left: solid rgb(0, 255, 183) 10px; background-color: rgb(203, 247, 255); ">
                                                    <p> </p>
                                                    <p style="color: black; margin-left: 10px;">Our first-hand experience in partnering with industries across the globe has diversified our rich expertise in delivering innovative IT solutions to clients, from startups to giants. </p>
                                                </div>
                                            </div>
                                            <div class="industries_megamenu col-md-4" style="">
                                                <!-- Your content for the 8-column section -->
                                                <!-- education -->
                                                <div class="card" style="">

                                                    <img src="/Indeft_site/images/carosel_img1.jpg" class="position-relative" alt="Placeholder Image" style="object-fit: cover;width: 100%; height: 100%;" id="">

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </li>


                            <!-- Services -->
                            <li>
                                <a href="#" class="dropdown-toggle" style="">Services</a>
                                <!-- Mega menu -->
                                <div class="mega-menu">
                                    <div class="container" style="">
                                        <div class="row" style="">
                                            <!-- colmns-4 -->
                                            <div class="industries_megamenu col-md-4" style="border-right: solid 10px rgba(47, 0, 255, 0.199); position: relative;">
                                                <div class="card-body" style="width: 100%; position: relative; gap: 5px; align-items: center; text-align: start;justify-content: start; background-color: transparent; border-bottom: 1px solid rgb(0, 0, 0);">
                                                    <hr>
                                                    <img src="/Indeft_site/images/digital_transformation_icon-removebg-preview.png" alt="" style="width: 10%;">

                                                    <a class="nav-link active" href="#" style="color: black; font-size: 17px;" id="dt">Digital Transformation</a>
                                                </div>


                                                <div class="card-body" style="background-color: transparent; width: 100%;position: relative; gap: 5px;align-items: center; text-align: start;justify-content: start; background-color: transparent; border-bottom: 1px solid rgb(0, 0, 0);">
                                                    <img src="/Indeft_site/images/end-end-product-eng-removebg-preview.png" alt="" style="width: 10%;">
                                                    <hr>
                                                    <a class="nav-link" href="#" style="color: black;font-size: 17px;" id="end">End to End Product Engineering</a>
                                                </div>
                                                <div class="card-body" style="background-color: transparent; width: 100%;position: relative; gap: 5px;align-items: center; text-align: start;justify-content: start; background-color: transparent; border-bottom: 1px solid rgb(0, 0, 0);">
                                                    <img src="/Indeft_site/images/business_trans_icon-removebg-preview.png" alt="" style="width: 10%;">
                                                    <hr>
                                                    <a class="nav-link" href="#" style="color: black;font-size: 17px;" id="bt">Business Transformation</a>
                                                </div>
                                                <div class="card-body" style="background-color: transparent; width: 100%;position: relative; gap: 5px;align-items: center; text-align: start;justify-content: start; background-color: transparent;">
                                                    <img src="/Indeft_site/images/cloud_service_icon-removebg-preview.png" alt="" style="width: 10%;">
                                                    <hr>
                                                    <a class="nav-link" href="#" style="color: black;font-size: 17px;" id="cs">Cloud Service</a>
                                                </div>
                                            </div>

                                            <!-- colmns-8 -->

                                            <div class="industries_megamenu col-md-4" style="" id="servicerightblock1">
                                                <div class="servicesblock" style="display: flex; flex-wrap: wrap;">
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);  justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/wad_icon-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/webapp.html" style="color: black;">Web Application Development</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: start;">
                                                        <img src="/Indeft_site/images/mad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/mobdev.html" style="color: black;">Mobile Application Development</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/deops-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/devops.html" style="color: black;">DevSecOps</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/lad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/LegacyMigration.html" style="color: black;">Legacy App Migration</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End-end -->
                                            <div class="industries_megamenu col-md-4" style="" id="servicerightblock2">
                                                <div class="servicesblock" style="display: flex; flex-wrap: wrap;">
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);  justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/wad_icon-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/SoftwareTechnologyConsulting.html" style="color: black;">Software Technology consulting</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: start;">
                                                        <img src="/Indeft_site/images/mad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/UiUx.html" style="color: black;">UI/UX</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/deops-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/supportAndMaintenance.html" style="color: black;">Support and Maintance</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/lad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/Hired.html" style="color: black;">Hire dedicated Resources</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/lad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/AgileProductDev.html" style="color: black;">Agile Product Development</a>
                                                    </div>
                                                </div>
                                                <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                    <img src="/Indeft_site/images/lad-removebg-preview.png" alt="" style="width: 12%;">
                                                    <a href="/Indeft_site/templates/Services/Blockchain.html" style="color: black;">Blockchain App Development</a>
                                                </div>
                                                <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                    <img src="/Indeft_site/images/lad-removebg-preview.png" alt="" style="width: 12%;">
                                                    <a href="/Indeft_site/templates/Services/Offshore.html" style="color: black;">Offshore Development Services</a>
                                                </div>
                                            </div>
                                            <!-- business Trans -->
                                            <div class="industries_megamenu col-md-4" style="" id="servicerightblock3">
                                                <div class="servicesblock" style="display: flex; flex-wrap: wrap;">
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);  justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/wad_icon-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/rpa.html" style="color: black;">Robotic Process Automation</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: start;">
                                                        <img src="/Indeft_site/images/mad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/BiReporting.html" style="color: black;">BI & Reporting Services</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/deops-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/MobileApp.html" style="color: black;">Mobile App & Web Analytics</a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/lad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/Sap.html" style="color: black;">SAP Implementation & Support</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Cloud Service -->
                                            <div class="industries_megamenu col-md-4" style="" id="servicerightblock4">
                                                <div class="servicesblock" style="display: flex; flex-wrap: wrap;">
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);  justify-content: start; align-items: center; text-align: center;">
                                                        <img src="/Indeft_site/images/wad_icon-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/CloudDevMigration.html" style="color: black;">Cloud Development & Migration </a>
                                                    </div>
                                                    <div class="wad" style="display: flex; background-color: rgb(255, 255, 255);justify-content: start; align-items: center; text-align: start;">
                                                        <img src="/Indeft_site/images/mad-removebg-preview.png" alt="" style="width: 12%;">
                                                        <a href="/Indeft_site/templates/Services/CloudManService.html" style="color: black;">Cloud Managed Services</a>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- col-4 -->

                                            <div class="industries_megamenu col-md-4" style="" id="servicerightblock">
                                                <div class="servicesblockimg" style="display: flex;">
                                                    <img src="/Indeft_site/images/carosel_img2.jpg" alt="" width="100%">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- navbar ends-------------- -->

		<div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Technologies</h2><br>
                        <h5>Learning has a beginning, but no end!  Take a step into the high-tech ocean filled to its brim with endless knowledge, intelligence, and wisdom. 
						</h5>
						</div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/illustration blogs .svg" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>
            </div>
        </div>


		<div style="background-color: white; padding: 20px;">
			<div class="row">
				
				<div class="col-9">

					
					<div class="container">

						
						<p >How many times have you opened an app and thought the button was misplayed, the design team could have chosen better colours, or the graphics are not optimised for your screen size? And what does that lead to? You abandon the app and switch over to a competitor because they offer a much better customer experience than the former. </p>
						<p style="line-height: 2;">Consider it this way: despite millions of apps on Play Store and App Store, you don't install all of them, and even if you do install a mobile app, you end up deleting it if it's not what you were looking for. Every time a user faces an issue with app design, the outcome is app un-installation. The moral of the story; a great UI/UX attracts, engages, converts, and retains a user to your app. There was a time when mobile apps were known for their services, but today, they are more about the user interface and experience they offer. In fact, good UI/UX design can raise your conversion rates by 200%. </p>

						<h5><b>What is UI/UX design?</b></h5>
						
						<p>Although many people would consider these two terms the same, there is a stark difference between the tw</p> 
						<p>UI or user interface of a mobile app determines its look and feel. UI decides the visual appearance of the application, the placement of graphics, texts, and buttons, its navigation, and so on. A UI designer primarily focuses on the end-users needs when developing a mobile application's UI. </p>

						<p>On the contrary, UX or user experience defines users' impressions of the UI and the interactions they forge with it. UX plays an instrumental role in deciphering customer engagement, trust, and satisfaction. Factors like usability, credibility, and accessibility impact the UX of a mobile app. The more user-friendly, functional, and effective your mobile app design is, the better its UX. </p>

						<h5><b>What are the deliverables of UI/UX design development?</b></h5>

						<p>A UI/UX designer has to take note of several phases during the development process. The aim is to present the mobile app idea correctly to the clients and further assist mobile application developers. Although both UI and UX are separate deliverables, let's understand the role of UI/UX design in the mobile app design and development process. 

						</p>
						
						

					</div>

				</div>
				
			


			<div class="col-3">
				<div class="container list" >
                    <h4 >Recent Articles</h4><br>
                    <div style="color: #0096FF;">
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">The Top 11 Android App Development Trends for 2023-2024</a><br><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">How UI/UX Plays an Important Role in App Development</a><br><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">How is UiPath automating cybersecurity operations?</a><br><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">The 8 key use cases of Robotic Process Automation for every industry</a><br><br>
                    </div>
                </div>


				<div class="container" style="font-weight: bold; line-height:2;">
                    <h4 >Categories</h4>
                    <div style="color: #0096FF;">
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">Technologies <span>(8)</span></a><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">UI/UX <span>(2)</span></a><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">E-Commerce <span>(1)</span></a><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">Hire Developer <span>(1)</span></a><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">News & Development <span>(13)</span></a><br>
                        <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: #0096FF;">Open Sources</a>
                    </div>
                </div>

				






			</div>




</div>



<!-- newwwwwwwwwwwww -->

<div style="background-color: white; padding: 20px;">
    <div class="row">
        
        <div class="col-9">

            
            <div class="container" style="margin-bottom: 10%;">
				<img src="/Indeft_site/Images/Description_Image.jpg" alt="Image" style="width: 90%;">           
            </div>


			<!-- started blocks -->

			<div class="row">

				<div class="col-lg-6">
				
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/Thumbnail.jpg" alt="First Image" style="max-width: 100%; " class="hover-image">
					</a>
					<h5><b>How is UiPath automating cybersecurity operations?</b></h5>
					<p>
						How many times have you opened an app and thought the button was misplayed, the design team could have chosen better colours, or t .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/UiPath-thumbnail-image.png" alt="Second Image" style="max-width: 100%; " class="hover-image">
					</a>
					<h5><b>How is UiPath automating cybersecurity operations?</b></h5>
					<p>
						State of the CIO Study 2022 reports that over 51% CIOs have commenced focussing their time and expertise on security management. I .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			
			<!-- Row2-->





			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/Thumbnail_image.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>The 8 key use cases of Robotic Process Automation for every industry</b></h5>
					<p>
						The modern-day enterprise market is driven by evolution and innovation. Everything that can boost your team’s productivity, save ... <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/digital-transformation1.png" alt="Second Image" style="max-width: 100%; width: 100%;" class="hover-image">
					</a>
					<h5><b>The 7 key tenets of a digital transformation strategy</b></h5>
					<p>
						Since the pandemic, there has been a stark change in how enterprises communicate, operate, and plan for the future. Accelerated by .... <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				
			</div>
			
<!--3-->




			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/scale-web-application.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>How to Build Effective and Scalable Web Applications – The Best Practices</b></h5>
					<p>
						A big part of any web application development is its capacity to scale in the later growth stages. Irrespective of the project tim ..<a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/artificial-Intelligence.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>How Artificial Intelligence in Mobile Banking is a Game-Changer?</b></h5>
					<p>
						Let’s start this discussion with a simple question, how many of you still stand in queues outside banks just to get general fina ..<a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			

			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/thumb.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>Utility mobile application development role in the digital transformation
					   </b></h5>
					<p>
						What is utility mobile application development and why it matters?At this point, mobile applications have become an inalienable pa .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/agile-thumb2.png" alt="Second Image" style="width: 100%; height: auto;" class="hover-image">
					</a>
					<h5><b>How to build a successful and agile offshore development team?</b></h5>
					<p>
						As a global trend, outsourced software development holds a market size of $92.5 billion, and a significant chunk of it is occu ..<a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			



			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/VAPT.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>What is VAPT and does your organization need it?

					   </b></h5>
					<p>
						What is VAPT and does your organization need it? To no one's wonder, there is a flood of applications and software being re .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/fintech.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>The top 11 FinTech trends to achieve digital transformation</b></h5>
					<p>
						The top 11 FinTech trends to achieve digital transformation Similar to other industrial verticals heavily impacted by the p .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			

			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/10_digitization.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>The Next Normal: The Top 10 digitization trends for enterprises in 2021 and beyond</b></h5>
					<p>
						The Next Normal: The Top 10 digitization trends for enterprises in 2021 and beyond Nobody knew where 2020 and 2021 would ta .. <a href="your_paragraph_link_here" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/ci-cd.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>CI/CD Model: what and why it matters in software development</b></h5>
					<p>
						CI/CD Model: what and why it matters in software development  There was a time when software development was simply a ..   <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			



			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/legacy-migration.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>What Is Legacy Migration and Why to Consider It</b></h5>
					<p>
						What Is Legacy Migration and Why to Consider It? Software technologies and applications are on the road to an inevitable in .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/cmmi.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>What Makes CMMI Appraisal Necessary for Software Development Companies ?</b></h5>
					<p>
						What Makes CMMI Appraisal Necessary for Software Development Companies? During software development, your product is only a ..<a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			






			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/top11-mobile-app-development.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>The Top 11 Mobile App Development Trends You Must Know for 2021</b></h5>
					<p>
						The Top 11 Mobile App Development Trends You Must Know for 2021 We all have so many expectations from 2021, don’t we!  ..  <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/react-native.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>2- Why to choose react native for mobile app development project?</b></h5>
					<p>
						React Native for mobile app development: Is it the right choice? For the 21st century, mobile phones are like souls, and ap ..  <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			








			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/digital-transformation.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>How Digital Transformation Impacts Software Development Services</b></h5>
					<p>
						Digital Transformation and its impact on Software Development Lifecycle   Today's industrial landscape talks about .. <a href="your_paragraph_link_here" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/right-price.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>What is the right price for developing a mobile app?</b></h5>
					<p>
						What is the price to develop an iPhone app? Or rather, how much does mobile app development cost? Well, Kudos to you because you'v .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			








			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/flutter (1).png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>Should I use Flutter for my next Mobile App Development project?</b></h5>
					<p>
						So, what was the mobile app development story before Flutter? Let's consider mobile application development  ..   <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/pricing-strategy.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>Is there any right pricing strategy for mobile app development?</b></h5>
					<p>
						No phrase can appropriately describe the accelerating mobile app development market! Definitely, it is on a consistent boom. But t ..  <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			







			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/freelancer-softwarecompany.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>Mobile App Development: Freelancer or a Software Development Company</b></h5>
					<p>
						So, you’ve decided to build software, and now you’re faced with the debatable and inevitable question: software development c .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/native-hybrid.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>Hybrid Mobile App Vs. Native Mobile App… Am I Making A Right Choice?</b></h5>
					<p>
						This seems to be a million-dollar question when it comes for making a choice between hybrid mobile app or native mobile app develo ..  <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			






			<div class="row">
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/article1.png" alt="First Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>5 trends that will be influencing mobile app development in 2019</b></h5>
					<p>
						We live in a smartphone-driven world and mobile apps are now an integral part of our lives. From day-to-day commute to groceries, .. <a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
				<div class="col-lg-6">
					<a href="/Indeft_site/templates/Blogs/Uiuxb.html">
						<img src="/Indeft_site/Images/python_thumbnail.png" alt="Second Image" style="max-width: 100%;" class="hover-image">
					</a>
					<h5><b>Understanding Python Development Services and their role in building next-gen enterprise applications</b></h5>
					<p>
						From being awarded the best programming language for development to replacing the stardom held previously by Java., Python has made enormous stride ..<a href="/Indeft_site/templates/Blogs/Uiuxb.html" style="text-decoration: none; color: blue;">Read more...</a>
					</p>
				</div>
			</div>
			

        </div>

        
            
            
        </div>

    </div>
</div>



</div>
        

         





        
    

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced resources
                    we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>

    <script src="/Indeft_site/templates/script.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF " crossorigin="anonymous "></script>
</body>

</html>