<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, rgb(0, 123, 255), #f28729);
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .new-div {
            background: linear-gradient(to bottom, rgb(55, 44, 60), rgb(139, 135, 135));
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Agile products/services that fulfill customer demands</h2><br>
                        <h5>Transform your business with innovative ideas and leading agile product development services
                        </h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/Agile-Product-Development-banner.png" alt="Your Image" class="image img-fluid hover-image" style="padding-top: 2%;">
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white;">
                <div class="content col-lg-9" style=" position: relative; top:0px;">
                    <p>We are a full-scale agile product development firm that supports you throughout the way, from market research to business analysis, agile design, development, launch, maintenance and support. Our product development services are a
                        perfect solution for early-stage startups that do not have the necessary tack support, for enterprises launching their own product in the market, and for organisations that wish to take the next step in digital transformation.
                        We combine your innovative ideas with our experiential design and technology knowledge to offer leading-edge agile product development services. Our focus is on developing a product that accomplishes your customer demands and aligns
                        with your business objectives.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2">
                    <div class="image-container" style="padding-left: 5%;">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <button type="button" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts  <span class="btn-arrow-icon">&#10148;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="row">
                <div class="col-lg-7">
                    <strong>
                    <h3>Engineering produces of tomorrow with best-in-class development solutions
                    </h3>
				</strong>
                    <p>
                        Our experts help you achieve strategic business goals with our agile product development and engineering solutions. We understand the pressure that comes along with your superior ideas and help achieve its full potential. And we do so while accelerating
                        time-to-market, reducing total cost of ownership of the product at high flexibility and low operating costs. Our agile product engineering and development practice helps your business succeed by assisting you in every aspect of
                        the process. </p>
                    <p>From development, to R&D of new strategies, implementing feedbacks, and continuously improving upon the product, our team offers a 360-degree service. Moreover, we even address issues related to strategy, product lifecycle management,
                        etc., to optimise your digitalisation roadmap and deliver superior value to your organisation. At Triazine, our certified experts are one of the earliest implementors of agile software development process, ensuring a superior and
                        successful product shelf-life.</p>
                </div>
                <div class="col-lg-2" style="left: 0%;">
                    <img src="/Indeft_site/Images/Agile-products-sideImage.png" style="width: 300%; height: 80%;" alt="Your Image">
                </div>
            </div>

        </div>


    </div>

    <!-- main containt starts -->
    <div style="background-color: #e0dfdf; padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blue-box">
                        <p style="color: white; margin-bottom: 30px; line-height: 2; ">Our agile product development process
                            <br><br>Triazine offers innovative and agile engineering solutions for development new products or modernising the existing ones at high velocity yo achieve industry standards. We have a record for building user-driven software
                            products that we achieve with the following services portfolio</p>
                    </div>
                    <div class="image-container" style="padding-top:15%;">
                        <img src="/Indeft_site/Images/Agile-products-banner.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="height: 55%;">
                        <h4>Consulting
                        </h4>
                        <hr>
                        <p>Our subject matter experts and solution consultants help align your product strategy with your business objectives. We prioritise gaining knowledge about your business, competitors, risks involved, future scope, and so on and map
                            it to your enterprise ecosystem. This helps us define your product roadmap. Our approach consists of principles, practices, and people to develop differentiated products and launch them to the market.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 55%;">
                        <h4>Agile Design
                        </h4>
                        <hr>
                        <p>Designing is the most important part of the product development process. It is why we employ our best-of-the-breed UI/UX designers to develop applications that appeal to the end users and fulfil business requirements. Our trained
                            and talented professionals dive into the design thinking process to create impactful experiences for the users. Regardless of the tech stack, our bespoke design process comprises of meaningful visuals and interactions.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:  -25%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 90%;">
                        <h4>Agile Product Development</h4>
                        <hr>
                        <p>Our agile methodology helps us to develop high-quality software products that meet stakeholder’s demands in a cost-effective and timely manner. Our agile product development capabilities assist organisations in reaching with their
                            product to the market faster while putting customer demands at the centre of the development efforts.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 90%;">
                        <h4>Product Testing</h4>
                        <hr>
                        <p>Triazine’s product development approach helps software companies in achieving product superiority. We even help improve the code of existent products as per the ever-evolving market demands. Our testing solutions include test automation
                            with CI/CD approach, functional and non-functional testing, security testing, compatibility testing, globalisation testing, and so on.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 0%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 90%;">
                        <h4>Agile Deployment & DevOps</h4>
                        <hr>
                        <p>Our deployment approach ensures that all requested changes are implemented quickly to ensure relevance and competitiveness. Our certified DevOps professionals ensure that your system is up-and-running for future improvements and
                            upgrades while filling up holes that might result in security breaches or cyberattacks.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 90%;">
                        <h4>Product Sustenance</h4>
                        <hr>
                        <p>Our intelligent product engineering initiatives consists of maintenance and support solutions that leverage new-age tools, technologies, and processes. We ensure that your customers are happy with your software product and help
                            you accomplish that goal at a reduced maintenance cost. We have expertise in customisation of products as per feedback received, expert consultation on upgrades to keep up with the latest enhancements, technologies, and trends,
                            and progressive migration.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- new div-->
    <div class="new-div" style="background-color: black; padding-top: 4%; padding-bottom: 4%;">
        <div class="container">
            <div class="row">
                <div class="text" style="color: white;">
                    <center>
                        <h1> <b>Our Development Process</b></h1>
                        <br>
                        <p>We work closely with our customers right from Requirements gathering to Implementation and follow each stage of the Web App development life cycle meticulously, keeping our clients informed and engaged at every stage.</p> <br><br>
                    </center>
                </div>

                <div class="col-lg-4" style="left: 33%;">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/graphics_process.svg" alt="Your Image" class="image img-fluid hover-image" style="padding-top: 2%;">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- next-industry-link -->
    <div class="next-industry-main" style="padding-top: 5%;">
        <div style="height: 110px;">
            <div class="container">
                <div class="next-industry-block" style="height: 380px;">
                    <div class="row next-industry-image">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px;">IT Support and <br>Maintenance</p>
                        <div class="col-sm-6" style="left:60px">
                            <img src="/Indeft_site/Images/it-software-maintanance-banner.png" class="img-fluid" alt="Medical Banner">
                        </div>
                        <div><br>
                            <h4>IT Support and Maintenance</h4>
                            <p>Ensure the high performance & speed of your software solutions with our advanced IT support and maintenance services</p>
                            <a href="/Indeft_site/templates/Services/supportAndMaintenance.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p>Our professionals possess over a decade long expertise in providing long-term maintenance and real-time support services to accomplish all your software requirements. Leverage our proactive IT support and maintenance services to
                            ensure bug-free deployment and make software robust and secure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <h3>We can build a blueprint for your<strong style="color : blue;"> Product Development Services.</strong></h3>
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Get a Free Quote   <span class="btn-arrow-icon">&#10148;</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>

</body>

</html>