<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, rgb(63, 34, 132), rgb(63, 34, 132));
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Get the most out of your BI & Reporting solutions</h2><br>
                        <h6>Maximise results at minimise cost and time investments with our BI & reporting services Big data plays an imperative role in online data analysis, gathering organisational information, and gaining actionable insights from intelligent
                            reporting.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/BI-Reporting-banner.png" alt="Your Image" class="image img-fluid hover-image" style="padding-top: 2%;">
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white;">
                <div class="content col-lg-9" style=" position: relative; top:20px;">
                    <p>Our certified BI reporting experts help you create smart reports leveraging the modern reporting tools and empower a comprehensive intelligent reporting practice internally. As we streamline BI and reporting solutions for your organisation,
                        you can grow and evolve your venture for limitless profitability. We help you reap the maximum benefits from BI reporting with data visualisations and extract valuable insights from this raw data to optimise their business performance
                        and achieve consistent growth.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2">
                    <div class="image-container" style="padding-left: 5%;">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <button type="button" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts  <span class="btn-arrow-icon">&#10148;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="row">
                <div class="col-lg-7">
                    <strong>
                    <h3>Improve performance management with a trusted Microsoft Partner
                    </h3>
				</strong>
                    <p>
                        In today’s competitive ecosystem, organisations face the constant pressure to improve their performance, leverage modern trends, and flow with the evolving market dynamics to stay relevant, grow sales, reduce risks, and achieve a competitive edge. Enterprises
                        must understand the need to arm their workforce at all levels, departments, and posts with more accurate, reliable, trustworthy, and timely information. </p>
                    <p>As a Microsoft Partner, our team practices and leverages the complete suite of business intelligence tools, including Microsoft SQL Sever, SharePoint, and Office. Moreover, we even work upon other Microsoft products for data integration,
                        analytics, and business intelligence, and visualisation. We can either deploy these tools as a standalone system or leverage them as a part of the SharePoint ecosystem.</p>
                </div>
                <div class="col-lg-2" style="left: 0%;">
                    <img src="/Indeft_site/Images/legacy-application-sideImage.png" style="width: 300%; height: 80%;" alt="Your Image">
                </div>
            </div>

        </div>


    </div>

    <!-- main containt starts -->
    <div style="background-color: #e0dfdf; padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blue-box">
                        <p style="color: white; margin-bottom: 30px; line-height: 2; ">Our business intelligence & reporting services
                            <br><br>Our certified Microsoft experts address your business concerns and help you build a strong and secure data infrastructure. Our professionals can help you develop powerful dashboards that turn every strand of information
                            into an actionable insight. The best part, we can deploy this data on-premises, public cloud, private cloud or redistribute it to your ecosystem. Our BI reporting solutions cover</p>
                    </div>
                    <div class="image-container" style="padding-top:15%;">
                        <img src="/Indeft_site/Images/it-software-maintanance-sidebar.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="height: 60%;">
                        <h4>SQL Server Analysis Services (SSAS)
                        </h4>
                        <hr>
                        <p>Microsoft SSAS is a powerful analytical processing OLAP, reporting, and data mining tool built using the Microsoft SQL Server. SQL Server Analysis Services is often used by organisations to analyse data available spread across
                            multiple databases and make sense of it. Moreover, SSAS also empowers enterprises to discover data patterns not apparent via extensive data mining services. Our experts can help you read the data via the SSAS system, design
                            data cubes, and organise it for actionable information.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 60%;">
                        <h4>SQL Server Reporting Services (SSRS)
                        </h4>
                        <hr>
                        <p>Our BI and Reporting Services is a server-based platform that offers comprehensive analytics features for data sources. We implement the Microsoft Visual Studio environment to run the reporting services tools, fully integrated
                            with the SQL Server and its components. Our SQL Server Reporting services provides a complete range of easy and ready to use tools and services to help you effortlessly mine, deploy, and manage data and reports. These services
                            cover programming features and customisations. Our developers can enable developers to integrate or extend the data to the custom applications as well.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:  -27%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 95%;">
                        <h4>SQL Server Integration Services (SSIS)</h4>
                        <hr>
                        <p>SSIS, a component of the Microsoft SQL Server database software and is employed by our team to assist in data migration, data integration, and workflow applications. At Triazine, we help you construct the right data foundation
                            that helps integrate information across your enterprise. Our team is highly experienced in data management solutions and have assisted several SMBs, startups, and large organisations with accurate and relevant information,
                            which eventually improves profitability, customer satisfaction, and operational efficiency.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 95%;">
                        <h4>Extraction/Transformation/ Load (ETL)</h4>
                        <hr>
                        <p>Triazine assists you with Microsoft SQL Server Integration Services (SSIS) to move data across disparate systems to a centralised repository such as a data warehouse.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:  0%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 100%;">
                        <h4>Data Warehousing</h4>
                        <hr>
                        <p>Our experts employ the SQL Server relational database services to design, manage and build a scalable and central repository to house all your data across genres and verticals for optimised reporting and analytics and to help you
                            gain a single view of all your information.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    </div>

    <div class="container text-center" style="padding-top: 3%;">
        <h2>Analytic tools - <strong style="color:blue;">Our Competitive Expertise</strong></h2>
        <h7>As a leading business intelligence and reporting company, our experts have specialisations across several BI tools and platforms and even possess the skills required to collect, manage, read, and analyse data for success.</h7>
    </div>

    <div style="padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/tableao-logo.png" style="height: 15%;">
                        <hr>

                        <p>Tableau is basically a data visualization tool which provides pictorial and graphical representations of data.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/talend-logo.png" style="height: 15%;">
                        <hr>

                        <p>Add agility, resilience & performance superiority to your web portal using Microsoft Technology Stack.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/cloudera-logo.png" style="height: 15%;">
                        <hr>

                        <p>Cloudera allows for a depth of data processing that goes beyond just data accumulation and storage.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/rapidminer-logo.png" style="height: 15%;">
                        <hr>

                        <p>RapidMiner is a powerful data mining tool that enables everything from data mining to model deployment, and model operations.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- next-industry-link -->
    <div class="next-industry-main" style="padding-top: 5%;">
        <div style="height: 110px;">
            <div class="container">
                <div class="next-industry-block" style="height: 400px;">
                    <div class="row next-industry-image">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px;">Robotic Process<br>Automation</p>
                        <div class="col-sm-6" style="left:60px">
                            <img src="/Indeft_site/Images/rpa-header.png" class="img-fluid" alt="Medical Banner">
                        </div>
                        <div><br>
                            <h4>Robotic Process Automation</h4>
                            <p>Build agile and resilient software products and increase the efficiency of your release cycle</p>
                            <a href="/Indeft_site/templates/Services/#">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p>Empower your workforces with the power of automation and scale up business productivity and employee efficiency with our competitive and industry leading robotic process automation solutions. Our CMMI Level 3 certified team can
                            help you significantly lower project release durations and boost your business growth and success with customized RPA solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <h3>Need help with<strong style="color : blue;"> Legacy App Modernisation?</strong></h3>
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Get a Free Quote   <span class="btn-arrow-icon">&#10148;</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>

</body>

</html>