<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, #695664, #febdf3);
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Boost agility and security with legacy application modernisation services</h2><br>
                        <h5>Build next-gen apps and stay ahead of the competitive curve
                        </h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/Legacy-Application-Modernisation-banner.png" alt="Your Image" class="image img-fluid hover-image" style="padding-top: 2%;">
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white;">
                <div class="content col-lg-9" style=" position: relative; top:40px;">
                    <p>Our experts understand the need for this change and help upgrade your systems and apps to boost business value. We find the right mix between your current application management and the new enhancements needed. Our application migration
                        services improve upon your current applications and re-engineer them to a new version that aligns with your business goals and fulfils your expectations.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2">
                    <div class="image-container" style="padding-left: 5%;">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <button type="button" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts  <span class="btn-arrow-icon">&#10148;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="row">
                <div class="col-lg-7">
                    <strong>
                    <h3>Reimagine, reengineer & redesign legacy apps for innovation with us
                    </h3>
				</strong>
                    <p>
                        Triazine offers reliable and cost-effective legacy app modernisation and migration services, seamlessly migrating your apps to the latest technology. Also, we create custom migration solutions for legacy applications. Our legacy application modernisation
                        solutions are tailored to help you deal with outdated technologies, inefficient processes and workflows and re-transform for innovation, scalability, and resilience. </p>
                    <p>Our legacy migration services will help you minimise IT investments, improve operational efficiencies, prevent data loss or threats, and assist in integration with newer applications and features to ensure cost-effectiveness.</p>
                </div>
                <div class="col-lg-2" style="left: 10%;">
                    <img src="/Indeft_site/Images/legacy-application-sideImage.png" style="width: 200%; height: 80%;" alt="Your Image">
                </div>
            </div>

        </div>


    </div>

    <!-- main containt starts -->
    <div style="background-color: #e0dfdf; padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blue-box">
                        <p style="color: white; margin-bottom: 30px; line-height: 2; ">legacy application modernisation services
                            <br><br>Our certified experts have experience with proprietary frameworks, migration methodologies, tools, technologies, and plugins to boost the overall efficiency of your enterprise systems. By partnering with Triazine, you
                            can ensure your business continuity without any glitches or system downtime.</p>
                    </div>
                    <div class="image-container" style="padding-top:15%;">
                        <img src="/Indeft_site/Images/it-software-maintanance-sidebar.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="height: 50%;">
                        <h4>Application Assessment
                        </h4>
                        <hr>
                        <p>Our professionals perform this mission-critical step to identify the effectiveness of your current system. Once we do so, we build a roadmap for legacy application migration, prepare a strategy that aligns with your current needs
                            and seamlessly covers trends that might arise in the future. Our assessment methodologies promise a successful legacy app modernisation.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 50%;">
                        <h4>Re-Engineering Applications
                        </h4>
                        <hr>
                        <p>When moving to advanced systems, you need to ensure that your applications can easily fit into the modern skeleton. Our experts re-architecture your apps for advanced operating systems. This way, we ensure a smooth migration to
                            new databases through automated processes.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:  -30%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 100%;">
                        <h4>Migration And Upgrades</h4>
                        <hr>
                        <p>We possess immense experience in application migration and product scripting. Our experts have knowledge in legacy and modern technologies and can easily manage technology migration requirements. Moreover, we even perform cleaning
                            of database to ensure the current system accomplishes your overall business objectives. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 100%;">
                        <h4>Application Modernisation</h4>
                        <hr>
                        <p>Our team has assisted several organisations in reengineering their existing applications for lower operational costs and greater efficiency. Our legacy application modernisation services include planning, security assessment, migration,
                            development, testing, deployment, support and maintenance supports. Also, we train your workforce on these modern systems to ensure higher productivity. Our expertise across methodologies and technologies help us offer superior
                            legacy app modernisation services.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- new div-->
    <div style="background-color: black; padding-top: 4%; padding-bottom: 1%;">


        <div class="container">
            <div class="row">
                <div class="text" style="color: white;">
                    <center>
                        <h2> <b>Migrate your legacy systems to overcome IT challenges and reduce risks</b></h2>
                        <br>
                        <p>With our experts who have rich experience across the latest technology frameworks, we help you transform your current legacy systems and mainframe applications to an on-premises server, hybrid platform, or the cloud and empower
                            you with limitless flexibility, functionality, and security. Our legacy modernisation process includes:</p> <br><br>
                    </center>
                </div>


                <div class="text" style="color: white; display:flex;">

                    <div class="col-lg-6">
                        <h5> 1. Data modernisation</h5>
                        <h6>We leverage modern technologies like AI, machine learning, NLP, and big data to streamline data pipelines and model your data structures for on-premises, cloud hosting, or a hybrid environment.</h6>
                    </div>

                    <div class="col-lg-6">
                        <h5> 2. Containerisation</h5>
                        <h6>We ensure the reliability and superior uptime of your software by packaging and deploying your legacy apps along with its code, dependencies, etc., on a single object. With our containerisation services, your team doesn’t have
                            to switch between computing environments and can easily run their enterprise systems.</h6>
                    </div>
                </div>
            </div>
            <br>
            <!-- second row-->
            <div class="row">
                <div class="text" style="color: white; display:flex;">

                    <div class="col-lg-6">
                        <h5> 3. Serverless modernisation:</h5>
                        <h6>We help you remove costs associated with infrastructure management, patching, OS maintenance, and so on by building you a serverless infrastructure on the cloud. This way, you can move more information to the cloud without having
                            to rely on a server or experiencing any downtime or security threat.</h6>
                    </div>

                    <div class="col-lg-6">
                        <h5> 4. Cloud-native replatforming</h5>
                        <h6>Our experts modify the components or parts of your legacy systems before moving it to the cloud without disrupting the framework that you have been working on and have experience with.</h6>
                    </div>
                </div>

            </div><br>

        </div>
    </div>
    </div>

    <div class="container text-center" style="padding-top: 3%;">
        <h2>Technology Stack - <strong style="color:blue;">Our Competitive Expertise</strong></h2>
        <h7>As a leading legacy application modernisation company, our experts have specialisations across several tools and systems and even possess the skills to maintain and update your legacy apps for success. This means, you can keep going on with your
            business while we migrate your legacy systems, preventing any significant shut down.</h7>
    </div>

    <div style="padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/Microsoft-logo.png" style="height: 15%;">
                        <hr>

                        <p>Add agility, resilience & performance superiority to your web portal using Microsoft Technology Stack.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/Matlab-logo.png" style="height: 15%;">
                        <hr>

                        <p>We offer custom build templates to allow you to create unlimited Automated Business Applications.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/Cobol-logo.png" style="height: 15%;">
                        <hr>

                        <p>Gain a competitive edge with our expert python app development services.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- next-industry-link -->
    <div class="next-industry-main" style="padding-top: 5%;">
        <div style="height: 110px;">
            <div class="container">
                <div class="next-industry-block" style="height: 400px;">
                    <div class="row next-industry-image">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px;">DevOps Solutions</p>
                        <div class="col-sm-7" style="left:60px">
                            <img src="/Indeft_site/Images/devops-header.png" class="img-fluid" alt="Medical Banner">
                        </div>
                        <div><br>
                            <h4>DevOps Solutions</h4>
                            <p>Build agile and resilient software products and increase the efficiency of your release cycle</p>
                            <a href="/Indeft_site/templates/Services/devops.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p>Minimize development cycle timelines, boost software productivity, and enhance security standards with our DevOps services. Our certified DevOps consultants can help you with an effective DevOps consulting, implementation, and
                            deployment strategy. We help you build a culture and effectively bridge the gap between core operational solutions - development and operations to breakdown data silos and enhance software performance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <h3>Need help with<strong style="color : blue;"> Legacy App Modernisation?</strong></h3>
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Get a Free Quote   <span class="btn-arrow-icon">&#10148;</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>

</body>

</html>