<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
	
    <style>
        .main-image {
            background: linear-gradient(to bottom, #503c4c, #a590a1);
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>SAP Implementation & Support Services</h2><br>
                        <h5>Revolutionize and streamline the business processes
						</h5>
						</div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/gr_sap.svg" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>
            </div>
        </div>


        <!-- headphoneeeeeee-->

        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white; position: relative;">
                <div class="content col-lg-9" style="position: relative; z-index: 1;">
                    <p>Derive maximum value from your SAP implementation & support investments via our decade-long expertise in finance, supply chain management, CRM and supplier relationship management.

						SAP implementations do have a lot riding on them, though. Mistakes are costly. A poor SAP implementation can result in brand damage, loss of revenue, negative customer experience, excessive IT and business operational expenses and frustrated employees.
                    </p>
                </div>
                <div class="col-lg-2" style="position: absolute; top: 50%; transform: translateY(-50%); right: 5%;">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <button type="button" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts  <span class="btn-arrow-icon">&#10148;</span>
                        </button>
                    </div>
                </div>
                <div class="vertical-line"></div>
            </div>
        </div>
        <center>

			<div class="container">
<p>
	<span style = "color:green;"> SAP implementation</span> is a collection of practices and workflows intended to design, build and tune an SAP landscape. SAP landscapes are all unique, so SAP implementations are seldom the same. Each has its own organization-specific requirements based on distinctive SAP configurations, customizations and combinations of SAP and third-party modules.
</p> 
<br>
<p><span style = "color:green;"> 
	SAP implementations </span>do have a lot riding on them, though. Mistakes are costly. A poor SAP implementation can result in brand damage, loss of revenue, negative customer experience, excessive IT and business operational expenses and frustrated employees.


</p>
</div>
</center>
       
<h1><center> <span style = "color:blue;"> SAP Implementation </span> Objectives </center></h1>
<br>
<h5><center>Triazine aims to adopt SAP implementation to meet these following objectives</center></h5>
<!-- new div-->



<div style="padding-top: 4%; padding-bottom: 1%;">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="white-block" style="text-align: center; height: 80%;">
					<img src="/Indeft_site/Images/cc11.svg" style="height: 15%;">
					<hr>
					<h4><strong style="color:	#0096FF">Integrated Systems</strong></h4>
					<p>An integrated system that operates in (or near) real time without relying on periodic updates</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="white-block" style="text-align: center; height: 80%;">
					<img src="/Indeft_site/Images/cc12.svg" style="height: 15%;">
					<hr>
					<h4><strong style="color:	#0096FF;">Application Support</strong></h4>
					<p>A common database that supports all applications
					</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="white-block" style="text-align: center; height: 80%;">
					<img src="/Indeft_site/Images/cc13.svg" style="height: 15%;">
					<hr>
					<h4><strong style="color:	#0096FF">
						Business Consistency
					</strong></h4>
					<p>A consistent look and feel across all business areas
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="white-block" style="text-align: center; height: 80%;">
					<img src="/Indeft_site/Images/cc14.svg" style="height: 15%;">
					<hr>
					<h4><strong style="color:	#0096FF;">On-time delivery</strong></h4>
					<p>Our team is dedicated to provide you with continual maintenance and real-time support services to meet all your software requirements
					</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="white-block" style="text-align: center; height: 80%;">
					<img src="/Indeft_site/Images/cc15.svg" style="height: 15%;">
					<hr>
					<h4><strong style="color:	#0096FF;">Allocated budget</strong></h4>
					<p>Improve the readiness of your project for support & maintenance and save your time & cost with our pre‑support auditing service.

					</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="white-block" style="text-align: center; height: 80%;">
					<img src="/Indeft_site/Images/cc15.svg" style="height: 15%;">
					<hr>
					<h4><strong style="color:	#0096FF;">Expected functionality</strong></h4>
					<p>As the timelines and costs are decreasing, product features are increasing and this way the development of middleware components has become essential in the design of embedded systems
					</p>
				</div>
			</div>
		</div>

		
	</div>
</div>

<!--new div-->
<div style="background-color: black; color: white; padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Phase wise SAP Implementation</h1>
                <p style = "line-height:2.5;">
                    SAP implementations do have a lot riding on them, though. Mistakes are costly. A poor SAP implementation can result in brand damage, loss of revenue, negative customer experience, excessive IT and business operational expenses, and frustrated employees. SAP implementation is a collection of practices and workflows intended to design, build and tune an SAP landscape. SAP landscapes are all unique, so SAP implementations are seldom the same. Each has its own organization-specific requirements based on distinctive SAP configurations, customizations and combinations of SAP and third-party modules.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Project Preparation</h3>
                <p>Initial planning and preparation for the implementation</p>
                <h3>Business Blueprint</h3>
                <p>To derive on common understanding of how the company intends to run SAP to support their business</p>
                <h3>Realization</h3>
                <p>Implement the business process requirements based on the blueprint.</p>
                <h3>Final Preparation</h3>
                <p>To complete the final preparation that includes testing, end-user training, system management and cutover activities, to finalize the readiness to go-live</p>
                <h3>GO-LIVE and Support</h3>
                <p>To move from a project-oriented, pre-production environment to live production operation.</p>
            </div>
        </div>
    </div>
</div>
<!-- new div-->


<div style="background-color: white; padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/Indeft_site/Images/gr_eLearning (1).svg" alt="Image" style="max-width: 100%;">
            </div>
            <div class="col-lg-6">
                <h2>Installation vs. Migration vs. Upgrades</h2>
                <p>
                    SAP implementation work arises in three main settings. The first is installation, such as with a product like SAP S/4HANA. New or old customers need installations. With an existing customer, the implementation may occur because the customer has such an extensively customized landscape that it’s better in the long-run to build a new system from scratch.
                </p>
                <p>
                    Migrations, in contrast, involve moving an SAP product between hosted environments. A migration might also mean moving SAP from one database to another. Migrations usually occur in multiple phases. They are by nature, complex and require frequent testing. An SAP upgrade is an implementation project that moves an SAP instance to a newer version. This could be something relatively simple, like adding enhancement packs. Some upgrades are challenging, however, requiring a great deal of planning and testing to successfully implement.
                </p>
            </div>
        </div>
    </div>
</div>



       
<!-- new div-->



    <!-- main containt starts -->
    

    <!-- next-service-link -->
    <div class="next-industry-main">
        <div style="height: 110px;">
            <div class="container">
                <div class="next-industry-block" style="height: 400px;">
                    <div class="row next-industry-image">
                        <h4 style="color: white; display: block; top: 0%; position: relative; left: 15px;right:200px;">Digital Transformation with Reliable Cloud Migration</h4>
                        <div class="col-sm-7" style="left:10px">
                            <img src="/Indeft_site/Images/download.png" class="img-fluid" alt="Medical Banner" style="width: 100px; height: auto;">
					    </div>
                        <div><br>
                            <h4>Digital Transformation with Reliable Cloud Migration</h4><br>
                            <p>Derive more value from your enterprise systems and reduce operational costs</p>
                            <a href="/Indeft_site/templates/Services/CloudDevMigration.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row" >
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p>The modern enterprise ecosystem demands you to move over your legacy systems, reduce operational costs, and breakdown data silos. As more and more organizations realize the potential of a cloud management they’re moving towards its end-to-end network.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Contact Today  <span class="btn-arrow-icon">&#10148;</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced resources
                    we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>

</body>

</html>