<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, rgb(1, 62, 131), rgb(137, 189, 248));
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Software Development Consulting Services</h2><br>
                        <h5>TAssess, identify, and boost the efficiency of your business processes as per the market trends, leading-edge technologies, and customer requirements with our software consulting services.
                        </h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/gr_consult.svg" alt="Your Image" class="image img-fluid hover-image" style="padding-top: 2%;">
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white;">
                <div class="content col-lg-9" style=" position: relative; top:40px;">
                    <p>
                        <strong style="color: blue;">With deep experience in software engineering</strong>, we provide a wide range of consulting services undertaking a comprehensive analysis of your existing system, mapping out your plan on the introduction
                        of new components, and guiding you in the complex software world.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2">
                    <div class="image-container" style="padding-left: 5%;">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <button type="button" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts  <span class="btn-arrow-icon">&#10148;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="row">
                <div class="col-lg-12">
                    <p>Our knowledge in the consulting domain is vast and years of experiments <b style="color: rgb(7, 190, 7);">optimizing software applications</b> have earned us the status of leading consultant in the domain. Our consultants focus on
                        the facility providing distinctive operational competency to the unique business needs reading them through business strategy, changes in IT landscape, current pin-points etc. <b style="color: rgb(7, 190, 7);">We have helped various solutions</b>                        to be implemented in the right manner while helping our clients get complete assurance of the right empanelment and characterization of the process that holds the solution.</p>
                </div>
            </div>

        </div>


    </div>

    <!-- main containt starts -->
    <div class="container text-center" style="padding-top: 3%;">
        <h1>Indeft Software, <strong style="color:blue;">provide a wide range of consulting services</strong></h1>
        <h5>Undertaking a comprehensive analysis of your existing system, mapping out your plan on the introduction of new components</h5>
    </div>

    <div style="padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/ic_planning.svg" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Software Product & Development</strong></h4>
                        <p>We optimally claim our software product development expertise through the advanced involvement of our Software Product engineering </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/ic_QADoc.svg" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Digital Transformation </strong></h4>
                        <p>Improve your business’ operational efficiency and RoI through process automation, workflows digitization, and enterprise integration
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/ic_QADoc.svg" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">
                            Software Reengineering Services
                        </strong></h4>
                        <p>It happens with every product, even the established one, it becomes obsolete in due course of time
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/ic_webAppTesting.svg" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Software Maintenance Services</strong></h4>
                        <p>Our team is dedicated to provide you with continual maintenance and real-time support services to meet all your software requirements
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/ic_mobAppTesting.svg" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Cost Optimization</strong></h4>
                        <p>Improve the readiness of your project for support & maintenance and save your time & cost with our pre‑support auditing service. </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/ic_performanceTesting.svg" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Middleware Software Development</strong></h4>
                        <p>As the timelines and costs are decreasing, product features are increasing and this way the development of middleware components has become essential in the design of embedded systems
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- new div-->
    <div style="background-color: rgb(47, 45, 45); padding-top: 4%; padding-bottom: 4%;">
        <div class="container">

            <div class="text" style="color: white;">
                <center>
                    <h1> <b>Why TriazineSoftware ?</b></h1>
                    <br>
                    <h3>We serve a wide range of industries and domains</h3> <br><br>
                </center>
            </div>
            <div class="row">
                <div class="col-lg-6" style="color: white;">
                    <h6><i class="bi bi-caret-right"></i>Service quality and value</h6>
                    <h6><i class="bi bi-caret-right"></i>Quickly resolve issues</h6>
                    <h6><i class="bi bi-caret-right"></i>Innovative capabilities</h6>
                    <h6><i class="bi bi-caret-right"></i>Effective tools</h6>
                    <h6><i class="bi bi-caret-right"></i>Forward Thinking</h6>
                </div>
                <div class="col-lg-6" style="color: white;">
                    <h6><i class="bi bi-caret-right"></i>Our diverse technology stack</h6>
                    <h6><i class="bi bi-caret-right"></i>Extensive industry insight</h6>
                    <h6><i class="bi bi-caret-right"></i>We offer the perfect balance of domain experts with expert-level &#160;&#160;&#160;&#160;knowledge of specific areas</h6>
                    <h6><i class="bi bi-caret-right"></i>Proactive support</h6>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: gray; padding-top: 4%; padding-bottom: 4%;">
        <div class="container">

            <div class="text" style="color: white;">
                <center>
                    <h1> <b>Need for Software Consulting</b></h1>
                    <br>
                    <h3>We provide three types of application maintenance services to clients</h3> <br><br>
                </center>
            </div>
            <div class="row">
                <div class="col-lg-4" style="color: white;">
                    <h5 style="line-height: 2.5;">Planning</h5>
                    <h6><i class="bi bi-caret-right"></i>Overlooking or underestimation of important &#160;&#160;&#160;&#160;requirements</h6>
                    <h6><i class="bi bi-caret-right"></i>The overall impracticality of the goals</h6>
                    <h6><i class="bi bi-caret-right"></i>Wrong technology choice</h6>
                    <h6><i class="bi bi-caret-right"></i>Inappropriate architecture</h6>
                </div>
                <div class="col-lg-4" style="color: white;">
                    <h5 style="line-height: 2.5;">Development</h5>
                    <h6><i class="bi bi-caret-right"></i>Chaotic code</h6>
                    <h6><i class="bi bi-caret-right"></i>Security issues</h6>
                    <h6><i class="bi bi-caret-right"></i>Ineffective system integration</h6>
                    <h6><i class="bi bi-caret-right"></i>Improper data handling</h6>
                </div>
                <div class="col-lg-4" style="color: white;">
                    <h5 style="line-height: 2.5;">Organization</h5>
                    <h6><i class="bi bi-caret-right"></i>Team communication</h6>
                    <h6><i class="bi bi-caret-right"></i>Poorly organized work</h6>
                    <h6><i class="bi bi-caret-right"></i>Non-optimal usage of resources</h6>
                    <h6><i class="bi bi-caret-right"></i>Late delivery</h6>
                </div>
            </div>
        </div>
    </div>



    <!-- next-industry-link -->
    <div class="next-industry-main" style="padding-top: 5%;">
        <div style="height: 110px;">
            <div class="container">
                <div class="next-industry-block" style="height: 380px;">
                    <div class="row next-industry-image">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px;">IT Support and <br>Maintenance</p>
                        <div class="col-sm-6" style="left:60px">
                            <img src="/Indeft_site/Images/it-software-maintanance-banner.png" class="img-fluid" alt="Medical Banner">
                        </div>
                        <div><br>
                            <h4>IT Support and Maintenance</h4>
                            <p>Ensure the high performance & speed of your software solutions with our advanced IT support and maintenance services</p>
                            <a href="/Indeft_site/templates/Services/supportAndMaintenance.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p>Our professionals possess over a decade long expertise in providing long-term maintenance and real-time support services to accomplish all your software requirements. Leverage our proactive IT support and maintenance services to
                            ensure bug-free deployment and make software robust and secure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <h3>For<strong style="color : blue;"> Software Technology Consulting</strong></h3>
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Get a Free Quote   <span class="btn-arrow-icon">&#10148;</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>

</body>

</html>