<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, rgb(76, 76, 241), #a590a1);
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Software Maintenance and Support Solutions</h2><br>
                        <h5>Ensure the high performance & speed of your software solutions with our advanced IT support and maintenance services
                        </h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/it-software-maintanance-banner.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white;">
                <div class="content col-lg-9" style=" position: relative; top:40px;">
                    <p>Our professionals possess over a decade long expertise in providing long-term maintenance and real-time support services to accomplish all your software requirements. Leverage our proactive IT support and maintenance services to ensure
                        bug-free deployment and make software robust and secure.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2">
                    <div class="image-container" style="padding-left: 5%;">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <button type="button" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts  <span class="btn-arrow-icon">&#10148;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="row">
                <div class="col-lg-7">
                    <strong>
                    <h3>Dedicated Software Maintenance and Support Services
                    </h3>
				</strong>
                    <p>
                        Build stable, secure, and scalable software applications that run on 100% efficiency and deliver excellent experiences with our custom software support and maintenance services. As a leading software development company, we provide dedicated enterprise
                        software maintenance services that enhance your business productivity, fixes issues and bugs, optimises software solutions as per market trends/customer demands, and help you accomplish your digital transformation goals. </p>
                </div>
                <div class="col-lg-2" style="left: 10%;">
                    <img src="/Indeft_site/Images/it-software-maintanance-rightImg.png" style="width: 200%; height: 80%;" alt="Your Image">
                </div>
            </div>

        </div>


    </div>

    <!-- main containt starts -->
    <div style="background-color: #e0dfdf; padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blue-box">
                        <p style="color: white; margin-bottom: 30px; line-height: 2; ">Our full-cycle application maintenance and support services
                            <br>Our end-to-end IT software support and maintenance services cover all your business requirements.</p>
                    </div>
                    <div class="image-container" style="padding-top:15%;">
                        <img src="/Indeft_site/Images/it-software-maintanance-sidebar.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="height: 70%;">
                        <h4>Web Application Maintenance Services
                        </h4>
                        <hr>
                        <p>We are a leading web application maintenance and support service provider with over 8+ years of experience in web application maintenance services. Our custom software maintenance services improve the performance of your existing
                            applications and get top-rated developers from our team optimizing your software.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block" style="height: 70%;">
                        <h4>Mobile Application Maintenance Services
                        </h4>
                        <hr>
                        <p>Our team follows a coherent approach to ensuring the robustness of your mobile app maintenance services for all types of devices, Android, iOS, and Windows. Our dedicated app maintenance services enhance your app’s performance
                            by implementing new technologies, fixing bugs, and improving UX. Our team ensures the longevity of your mobile apps. </p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:  -11%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Functionality Integration</h4>
                        <hr>
                        <p>Our software architects help you design, develop, and implement new functionalities, seamlessly integrate with other third-party platforms, and improve the overall performance of your software. Our dedicated engineers provide you
                            with a detailed integration framework while developing a single source of truth across different departments of your organization. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Software Upgrade</h4>
                        <hr>
                        <p>Our team conducts a complete audit of your software to decipher recommendations and ideas on how to improve your software performance and robust behavior. We proved the best technologies to implement system improvements.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Support Team For Hire</h4>
                        <hr>
                        <p>We support you throughout long-term, short-term and complex projects by aligning our technical support teams for your assistance. Our developers for hire are available across various flexible engagement models for consistent support
                            and maintenance services.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Ongoing Support And Maintenance Services</h4>
                        <hr>
                        <p>Our consistent IT support and maintenance services include break/fix services, fixing bugs, troubleshooting, backup, ongoing guidance, advisory, etc. Our software architects address your custom software-related challenges and assist
                            you with them. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Dedicated Managed Services</h4>
                        <hr>
                        <p>Our dedicated managed services help you take note of software design, development, maintenance, and optimisation for high performance, speed, and reliability. We offer remote managed services to extend the functionality of your
                            software solutions and improve user experiences.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- new div-->
    <div style="background-color: black; padding-top: 4%; padding-bottom: 1%;">


        <div class="container">
            <div class="row">
                <div class="text" style="color: white;">
                    <center>
                        <h2> <b>Our Software Application Maintenance Approach</b></h2>
                        <br>
                        <p>Our DevOps process comprises of key stakeholders coming together to help develop a high-quality software product that are scalable and support automation.</p> <br><br>
                    </center>
                </div>


                <div class="text" style="color: white; display:flex;">

                    <div class="col-lg-6">
                        <h5> 1. Requirement analysis to develop clarity of your maintenance operations</h5>
                    </div>

                    <div class="col-lg-6">
                        <h5> 2. Program analysis to understand each cog of your application to offer custom services</h5>
                    </div>
                </div>
            </div>
            <br>
            <!-- second row-->
            <div class="row">
                <div class="text" style="color: white; display:flex;">

                    <div class="col-lg-6">
                        <h5> 3. Maintenance proposal for your scrutiny and approval</h5>
                    </div>

                    <div class="col-lg-6">
                        <h5> 4. Deploy our team to understand the extensibility and scalability of your IT infrastructure</h5>
                    </div>
                </div>

            </div><br>
            <!--Third row-->

            <div class="row">
                <div class="text" style="color: white; display:flex;">

                    <div class="col-lg-6">
                        <h5> 5.Implement rigorous testing procedures to assess software scalability</h5>
                    </div>

                    <div class="col-lg-6">
                        <h5> 6. Develop reports for record keeping and future maintenance</h5>
                    </div>
                </div>

            </div><br>

        </div>
    </div>
    </div>

    <!-- next-industry-link -->
    <div class="next-industry-main" style="padding-top: 5%;">
        <div style="height: 110px;">
            <div class="container">
                <div class="next-industry-block" style="height: 400px;">
                    <div class="row next-industry-image">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px;">Agile Product <br>Development</p>
                        <div class="col-sm-7" style="left:60px">
                            <img src="/Indeft_site/Images/fmcg-tag.png" class="img-fluid" alt="Medical Banner">
                        </div>
                        <div><br>
                            <h4>Agile Product Development</h4>
                            <p>Our experienced and certified platform innovators can help overcome any potential roadblocks in your digital strategies, turning gaps into opportunities, and driving higher business success</p>
                            <a href="/Indeft_site/templates/Services/#">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p>As one of the top-rated mobile application companies in the USA and India, our flexible, scalable, and cost-effective services give access to expert engineering teams, build innovative apps utilizing the latest tech stacks, and
                            implement the validated application development practices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <h3>Have Questions about our<strong style="color : blue;"> IT support and Maintenance Services?</strong></h3>
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Get a Free Quote   <span class="btn-arrow-icon">&#10148;</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png"><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/templates/contact_us.html";
        });
    </script>

</body>

</html>