<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, #ce5804, #f9812c);
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/Indeft_site/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 1%;">
            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2 style="position: absolute; top:40%;">Transforming the food and restaurant Industry with innovative solutions</h2><br>
                        <!-- <p>Accelerating business growth with transformative FMCG industry solutions</p> -->
                    </div>
                </div>
                <div class=" col-lg-3 " style="padding-top: 0%; ">
                    <div class="image-container ">
                        <img src="/Indeft_site/Images/gr_food&restaurant.svg " alt="Your Image " class="image img-fluid hover-image ">
                    </div>
                </div>
            </div>
        </div>


        <div class="container " style="padding-top: 2%; ">
            <div class="row square-block info-block " style="background-color: white; ">
                <div class="content col-lg-9 " style=" position: relative; ">
                    <p>We help you leverage digital-first practices and solutions, digitally revolutionizing dining experiences The food and restaurant industry grapples with challenges such as fierce competition and the need to meet evolving customer demands.
                        Leveraging our over a decade long expertise, we develop competitive systems for food and beverage inventory management, warehouse and logistics management, supply chain planing and optimization, product lifecycle management, customer
                        service and quality management portals, and delivery management. With Indeft's industry-centric approach and technical expertise, we empower food establishments to thrive in the digital landscape and exceed customer expectations.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2 ">
                    <div class="image-container " style="padding-left: 5%; ">
                        <img src="/Indeft_site/Images/headfone.png " alt="Your Image ">
                    </div>
                    <div class="button-container mt-auto ">
                        <a href="/Indeft_site/templates/contact_us.html " class="btn btn-primary btn-arrow " style="width: 200px; ">
                            Talk to our Experts <span class="btn-arrow-icon ">&#10148;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container " style="padding-top: 2%; padding-bottom: 2%; ">
            <div class="row ">
                <div class="col-lg-7 ">
                    <h3>Our certified experts digitize your food and restaurant Industry operations</h3>
                    <p>At Indeft, we offer a comprehensive range of innovative software development services to assist food and restaurant units in streamlining their operations and achieving business excellence. We specialize in UI/UX designing to create
                        interfaces that align with your branding guidelines and material design principles, simplifying the user journey and improving overall experience. Our team of certified experts are adept in developing feature-driven mobile app
                        and web portals that simplify online ordering, automatically identify nearby food stores based on a user's location, configure cloud platforms to host MFP and online ordering APIs, and seamlessly integrate them with payment providers,
                        loyalty systems, analytics platforms and inventory management systems, etc. Our goal is to empower food establishments and restaurants to optimize operations, improve efficiency, and maximize ROI.</p>
                </div>
                <div class="col-lg-2 hide-on-mobile " style="left: 5%; ">
                    <img src="/Indeft_site/Images/food-parking.png " style="width: 270%; height: 80%; " alt="Your Image ">
                </div>
            </div>

        </div>

        <div class="container text-center " style="padding-bottom: 3%; ">
            <h2>Know more about our software development services.</h2>
            <div class="button-container mt-auto " style="padding-top: 2%; ">
                <a href="/Indeft_site/templates/contact_us.html " type="button " class="btn btn-primary btn-arrow " style="width: 250px; padding: 10px 20px; font-size: 20px; ">
                    Consult Now   <span class="btn-arrow-icon ">&#10148;</span>
                </a>
            </div>
        </div>
    </div>

    <!-- main containt starts -->
    <div style="background-color: #e0dfdf; padding-top: 4%; padding-bottom: 1%; ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-3 ">
                    <div class="blue-box ">
                        <p>The food and restaurant sectors we serve </p>
                        <p>We provide strategic guidance for the following food and restaurant industry verticals.</p>
                    </div>
                    <div class="image-container " style="padding-top:15%; ">
                        <img src="/Indeft_site/Images/development-opportunity-strategy-improvement-word.png " alt="Your Image " class="image img-fluid hover-image ">
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="white-block ">
                        <h4>Quick Service Restaurants</h4>
                        <hr>
                        <p>We develop POS systems to streamline order taking and payment processing, self-ordering kiosks for faster service, and kitchen management systems to optimize food preparation and minimize wait times.</p>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="white-block ">
                        <h4>Food Delivery Services</h4>
                        <hr>
                        <p>Our on-demand platforms solutions are well integrated with driver dispatch systems for efficient routing and tracking, order management systems with real-time notifications, and customer-facing apps for hassle-free ordering & delivery.</p>
                    </div>
                </div>
            </div>
            <div class="row " style="margin-top: -6%; ">
                <div class="col-lg-3 ">
                    <div class="box ">
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="white-block ">
                        <h4>F&B Aggregator Platforms</h4>
                        <hr>
                        <p>Benefit from our expertise in building comprehensive multi-restaurant platforms for menu management, order tracking, seamless integration with third-party systems, commission management for partner restaurants.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="white-block ">
                        <h4>Cross Management Systems
                        </h4>
                        <hr>
                        <p>Indeft is a leader in building scalable and robust systems for inventory, warehouse and logistics Management, product lifecycle management, service management, supply chain planning & optimization, quality & food delivery management.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 ">
                    <div class="box ">
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="white-block ">
                        <h4>Wholesale Food Distributors </h4>
                        <hr>
                        <p>Food distributors can leverage our competitive expertise in solutions for demand forecasting and supply chain optimization, route planning and delivery tracking systems, and vendor management platforms for efficient procurement
                            processes. </p>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="white-block ">
                        <h4>Food Manufacturing & Packaging</h4>
                        <hr>
                        <p>Leverage our software development services for version control, quality assurance and compliance tools, and real-time production monitoring systems for enhanced productivity and product traceability.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center " style="padding-top: 3%; ">
        <h1>Our custom <strong style="color:blue; ">food and restaurant</strong> IT transformation services</h1>
        <!-- <h7>With our expertise and deep understanding of FMCG business models, we can help streamline your operations, optimize processes, and drive growth.</h7> -->
    </div>

    <div style="padding-top: 4%; padding-bottom: 1%; ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/oil-service1.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">Strategic Consulting</strong></h4>
                        <p>We provide strategic guidance to help food and restaurant businesses align technology solutions with their unique goals and challenges. Our goal is to develop custom software solutions to digitize operations and boost ROI. </p>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/UI-UX-design-service.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">UI/UX Design Services </strong></h4>
                        <p>We understand the need for an intuitive and easy-to-use food and restaurant app, which is why our creative UI/UX design visually appealing and engaging interfaces that aligns with your business model and improves user experiences.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/order-delivery-management.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">
                            Order & Delivery Management
                        </strong></h4>
                        <p>We develop on-demand food ordering and delivery management solutions, integrated with a POS system, inventory management software, and other online and offline channels for efficient order management and real-time tracking.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/oil-service4.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">F&B POS System</strong></h4>
                        <p>Leveraging our custom restaurant POS software development services, we build robust and cloud-based solutions, customized to meet all your billing, invoicing, feedback management, scheduling, online ordering and tracking, reporting,
                            and other needs.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/CRM-system.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">Restaurant CRM System</strong></h4>
                        <p>Get a centralized view to all your food outlets with our restaurant CRM development services. Our custom restaurant CRM allows you to run targeted marketing campaigns, track sales, revenue, and growth across unit, and view feedback
                            and survey forms. </p>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/Restaurant-Billing-software.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">Restaurant Billing Software</strong></h4>
                        <p>Streamline accounting and billing operations with our custom restaurant billing software development services. These systems automate the billing process, track sales, manage invoices, and support various payment methods, ensuring
                            accurate financial management.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/restaurant-nventory-software.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">Restaurant Inventory Software</strong></h4>
                        <p> Our software development services result in custom inventory management solutions to optimize manual process, automate stock tracking, provide real-time insights, and streamline procurement processes for efficient operations.

                        </p>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="white-block " style="text-align: center; height: 80%; ">
                        <img src="/Indeft_site/Images/restaurant-management.png " style="height: 15%; ">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183); ">
                            Restaurant Management
                        </strong></h4>
                        <p> We help you build competitive restaurant management software to help you manage inventory purchasing, cash transactions, asset maintenance, table reservations, menu management, staff scheduling, order processing, etc. with an intuitive
                            and scalable interface.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- next-industry-link -->
    <div class="next-industry-main ">
        <div style="height: 100px; ">
            <div class="container ">
                <div class="next-industry-block hide-on-mobile ">
                    <div class="row next-industry-image ">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px; ">FMCG services and <br>solutions</p>
                        <div class="col-sm-6 " style="left:60px; top:20px ">
                            <img src="/Indeft_site/Images/ecommerce-banner.png " class="img-fluid " alt="Medical Banner ">
                        </div>
                        <div><br><br>
                            <h5>FMCG services and solutions</h5>
                            <p>Indeft is dedicated to helping FMCG companies revolutionize their operations by leveraging cutting-edge technologies...</p>
                            <a href="/Indeft_site/templates/Industries/FMCG.html ">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-7 ">
                        <h2>Know about Other Services</h2><br>
                        <p class="hide-on-mobile ">As one of the top-rated mobile application companies in the USA and India, our flexible, scalable, and cost-effective services give access to expert engineering teams, build innovative apps utilizing the latest tech stacks, and
                            implement the validated application development practices.</p>
                        <div class="show-on-mobile hide-on-laptop ">
                            <p>FMCG services and solutions</p>
                            <a href="/Indeft_site/templates/Industries/FMCG.html ">Read...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center " style="padding-bottom: 3%; padding-top: 3%; ">
        <h3>If you are looking to implement any of the above Solutions or Industry Specific Solutions, we are happy to help you!</h3>
        <div class="button-container mt-auto " style="padding-top: 2%; ">
            <a href="/Indeft_site/templates/contact_us.html " type="button " class="btn btn-primary btn-arrow " style="width: 250px; padding: 10px 20px; font-size: 20px; ">
                Get a Free Quote   <span class="btn-arrow-icon ">&#10148;</span>
            </a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png "><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click ", function() {
            // Navigate to the contact.html page
            window.location.href = "/Indeft_site/templates/contact_us.html ";
        });
    </script>

</body>

</html>