<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar with Footer</title>
    <!-- Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add this line to include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/Indeft_site/styles/styles.css">
    <style>
        .main-image {
            background: linear-gradient(to bottom, #b67e85, #6c4bef);
            background-size: 220vh 65vh;
            background-position: top;
            background-repeat: no-repeat;
        }
        
        .vertical-line {
            border-left: 1px solid #e0dfdf;
            height: 100x;
        }
        
        .info-block {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
    </style>
</head>

<body>

    <div class="main-image">
        <!-- navbar starts-------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="full-navbar">
            <a class="navbar-brand" href="/Indeft_site/templates/Home.html">
                <img src="/Indeft_site/Images/indeft_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SOFTWARE DEVELOPMENT</a>
                            <a class="dropdown-item" href="#">MANAGED HOSTING SERVICES</a>
                            <a class="dropdown-item" href="#">IT SECURITY SERVICES</a>
                            <a class="dropdown-item" href="#">MANAGED SERVICES (REMOTE + ONSITE)</a>
                            <a class="dropdown-item" href="#">PARTNER BASED SERVICES</a>
                            <a class="dropdown-item" href="#">PROJECT SERVICES</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Industries
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/oilAndGas.html">Oil and Gas (CGD/utility)</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Healthcare.html">Healthcare</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Logistics.html">Logistics</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/eCommerse.html">e-Commerce</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/FMCG.html">FMCG</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Food.html">Food & Restaurant</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Education.html">Education/ e-Learning</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/travel.html">Travel & Hospitality</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Parking.html">Parking, Permit & Traffic Industry</a>
                            <a class="dropdown-item" href="/Indeft_site/templates/Industries/Entertainment.html">Entertainment</a>
                        </div>


                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blogs <span class="sr-only">(current)</span></a>
                    </li>
                    <button type="button" class="btn btn-success" id="contactBtn">Contact Us</button>
                </ul>
            </div>
        </nav>
        <!-- navbar ends-------------- -->


        <div class="container" style="padding-top: 2%;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="text" style="color: white;"><br><br><br>
                        <h2>Healthcare IT solutions and software services</h2><br>
                        <p>Deliver quality patient care solutions with our digital transformation healthcare IT solutions</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="image-container">
                        <img src="/Indeft_site/Images/medical-banner.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="padding-top: 2%;">
            <div class="row square-block info-block" style="background-color: white;">
                <div class="content col-lg-9" style=" position: relative; top:40px;">
                    <p>Deliver quality patient care solutions with Inedft's digital transformation healthcare IT solutions. As a leading digital transformation service provider for healthcare firms, we help you create a digital ecosystem, leveraging leading-edge
                        technologies to improve patient outcomes and experiences.</p>
                </div>
                <div class="vertical-line "></div>
                <div class="col-lg-2">
                    <div class="image-container" style="padding-left: 5%; padding-top: 12%;">
                        <img src="/Indeft_site/Images/headfone.png" alt="Your Image">
                    </div>
                    <div class="button-container mt-auto">
                        <a href="/Indeft_site/templates/contact_us.html" class="btn btn-primary btn-arrow" style="width: 200px;">
                            Talk to our Experts <span class="btn-arrow-icon">&#10148;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="row">
                <div class="col-lg-7">
                    <h3>We help you develop a healthy digital healthcare ecosystem</h3>
                    <p>Our digital transformation for healthcare services help you solve all challenges across the entire healthcare spectrum and implement secure and stable IT solutions that ensure quality patient care and superior patient experiences.
                        We follow a custom IT consulting services approach for every healthcare organization, design a digital transformation roadmap, analyze patient data, and then modernize the entire healthcare IT infrastructure. Leverage our immense
                        expertise in healthcare IT solutions to unlock the power of digital transformation for your healthcare firm.</p>
                </div>
                <div class="col-lg-2 hide-on-mobile" style="left: 10%;">
                    <img src="/Indeft_site/Images/medical-banner2.png" style="width: 170%; height: 100%;" alt="Your Image">
                </div>
            </div>

        </div>

        <div class="container text-center" style="padding-bottom: 3%;">
            <h2>Know more about our healthcare IT solutions.</h2>
            <div class="button-container mt-auto" style="padding-top: 2%;">
                <a href="/Indeft_site/templates/contact_us.html" type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                    Consult Now   <span class="btn-arrow-icon">&#10148;</span>
                </a>
            </div>
        </div>
    </div>

    <!-- main containt starts -->
    <div style="background-color: #e0dfdf; padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blue-box">
                        <p>The healthcare segments we serve</p>
                        <p>We help you unlock the potential of digital transformation for your healthcare organization.</p>
                    </div>
                    <div class="image-container" style="padding-top:15%;">
                        <img src="/Indeft_site/Images/health.png" alt="Your Image" class="image img-fluid hover-image">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Patient Management</h4>
                        <hr>
                        <p>Our cutting-edge healthcare IT solutions enable doctors to remotely monitor and manage patients' health through virtual care and real-time data collected from wearable devices, IoT sensors, and connected medical devices.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Telemedicine</h4>
                        <hr>
                        <p>Leverage features like teleconferencing, real-time video consultations, secure messaging & remote monitoring.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -6%;">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Remote Patient Monitoring</h4>
                        <hr>
                        <p>We develop robust remote patient monitoring IT solutions, empowering healthcare providers to remotely monitor and analyze patients' health status through virtual channels or by leveraging data from wearables, IoT sensors, and connected
                            devices.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Hospital Staff Management</h4>
                        <hr>
                        <p>Incorporate advanced features such as real-time scheduling, task assignment, and resource allocation to staff management systems.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Medical Devices Inventory </h4>
                        <hr>
                        <p>Leveraging barcode scanning, RFID technology, and robust data analytics, our inventory management system for medical devices & equipment enables real-time visibility, automated replenishment, and efficient utilization of medical
                            assets.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Health Social Network</h4>
                        <hr>
                        <p>Powered by robust technologies like blockchain for data integrity, encrypted messaging, and machine learning for personalized recommendations, health social platforms promote collaborative health management and enables users to
                            access reliable medical resources.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Medical Insurance Solutions </h4>
                        <hr>
                        <p>With features such as real-time claims adjudication, automated eligibility verification & personalized policy recommendations, our medical insurance solution enables insurance providers to deliver accurate and personalized services
                            to policyholders.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Medical Invoicing</h4>
                        <hr>
                        <p>Our medical invoicing solutions development offers a robust platform that utilizes electronic data interchange (EDI), automated coding systems, and billing compliance algorithms to streamline the medical billing process, minimize
                            errors, and accelerate reimbursement cycles.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white-block">
                        <h4>Lab Management Systems </h4>
                        <hr>
                        <p>We build a end-to-end lab management systems that leverages laboratory information management system (LIMS), barcode tracking, and workflow automation to streamline laboratory processes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-top: 3%;">
        <h2>Enterprise-grade <strong style="color:blue;">Healthcare IT Solutions</strong></h2>
        <h7>Develop and deploy mobile applications and platforms that enable healthcare professionals to securely access patient data, manage workflows, and provide remote care using technologies like mHealth, BYOD, and secure mobile device management (MDM).</h7>
    </div>

    <div style="padding-top: 4%; padding-bottom: 1%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon7.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Healthcare Mobility Solutions</strong></h4>
                        <p>Develop and deploy mobile applications and platforms that enable healthcare professionals to securely access patient data, manage workflows, and provide remote care using technologies like mHealth, BYOD, and secure mobile device
                            management (MDM).
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon8.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Custom Development</strong></h4>
                        <p>Tailor-made software development services to build bespoke healthcare applications, including electronic health record (EHR) systems, telemedicine platforms, and clinical decision support systems (CDSS), utilizing programming languages
                            like Java, Python, and C#. </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon9.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Migration Services</strong></h4>
                        <p>Seamlessly migrate healthcare systems and data from legacy platforms to modern, scalable infrastructures, employing data migration techniques, ETL processes, and cloud-based solutions such as Amazon Web Services (AWS) or Microsoft
                            Azure.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon9.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Integration Solutions</strong></h4>
                        <p>Enable interoperability by integrating disparate healthcare systems, including EHRs, laboratory information systems (LIS), picture archiving and communication systems (PACS), utilizing standards like HL7, DICOM, and FHIR.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon11.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Data Analytics and Business Intelligence</strong></h4>
                        <p>WLeverage big data analytics, machine learning algorithms, and data visualization tools to derive valuable insights from healthcare data, facilitating clinical decision-making, population health management, and predictive analytics.

                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon12.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Cybersecurity Solutions</strong></h4>
                        <p>Implement robust security measures, including data encryption, access control, intrusion detection systems (IDS), and vulnerability assessments, to protect patient data from cyber threats and ensure compliance with regulations
                            like HIPAA and GDPR.


                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon12.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">Cloud Solutions </strong></h4>
                        <p> Deploy scalable and secure cloud-based infrastructure for healthcare organizations, utilizing Infrastructure as a Service (IaaS), Platform as a Service (PaaS), and Software as a Service (SaaS) models, in platforms like AWS, Google
                            Cloud, or Microsoft Azure.


                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="white-block" style="text-align: center; height: 80%;">
                        <img src="/Indeft_site/Images/healthicon12.png" style="height: 15%;">
                        <hr>
                        <h4><strong style="color:rgb(68, 68, 183);">IT Infrastructure Management</strong></h4>
                        <p> Provide comprehensive IT infrastructure management services, including network design, server administration, backup and disaster recovery solutions, virtualization, and IT support, ensuring optimal performance and availability
                            of healthcare IT systems.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- next-industry-link -->
    <div class="next-industry-main">
        <div style="height: 100px;">
            <div class="container">
                <div class="next-industry-block  hide-on-mobile">
                    <div class="row next-industry-image">
                        <p style="color: white; display: block; top: 65%; position: relative; left: 15px;right:200px;">Travel and Hospitality<br> Industry Solutions</p>
                        <div class="col-sm-6" style="left:60px">
                            <img src="/Indeft_site/Images/medical-banner2.png" class="img-fluid" alt="Medical Banner">
                        </div>
                        <div>
                            <h4>Travel and Hospitality Industry Solutions</h4><br>
                            <p>Connect Travelers and Service Providers in Real Time</p>
                            <a href="/Indeft_site/templates/Industries/travel.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="next-industry">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Know about Other Services</h2><br>
                        <p class="hide-on-mobile">As one of the top-rated mobile application companies in the USA and India, our flexible, scalable, and cost-effective services give access to expert engineering teams, build innovative apps utilizing the latest tech stacks, and
                            implement the validated application development practices.</p>
                        <div class="show-on-mobile hide-on-laptop">
                            <p>Travel and Hospitality Industry Solutions</p>
                            <a href="/Indeft_site/templates/Industries/travel.html">Read...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-bottom: 3%; padding-top: 3%;">
        <h3>If you are looking to implement any of the above Solutions or Industry Specific Solutions, we are happy to help you!</h3>
        <div class="button-container mt-auto" style="padding-top: 2%;">
            <a href="/Indeft_site/templates/contact_us.html" type="button" class="btn btn-primary btn-arrow" style="width: 250px; padding: 10px 20px; font-size: 20px;">
                Get a Free Quote   <span class="btn-arrow-icon">&#10148;</span>
            </a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sub-footer py-3 bg-dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <img src="/Indeft_site/Images/indeft_logo.png "><br><br> Right from its inception in 2016, InDeft Technology Solutions has been one of the leading IT solution provider in India and overseas. With our professional approach & experienced
                    resources we have become a trusted name and a global IT Solution and Services Partner for our clients.
                </div>
                <div class="col-md-3 ">
                    <h5>About</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">Leadership Team</a></li>
                        <li><a href="# ">Our Development Process</a></li>
                        <li><a href="# ">Careers</a></li>
                        <li><a href="# ">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Services</h5><br>
                    <ul class="list-unstyled ">
                        <li><a href="# ">Android App Development</a></li>
                        <li><a href="# ">iOS App Development</a></li>
                        <li><a href="# ">Hybrid App Development</a></li>
                        <li><a href="# ">Web Development</a></li>
                        <li><a href="# ">Trending JS Framework</a></li>
                        <li><a href="# ">ECommerce & CMS</a></li>
                        <li><a href="# ">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5>Get in Touch</h5><br>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Branch Office</h6>
                        <p class="address-line ">Office No. 302 4th Floor,</p>
                        <p class="address-line ">M ARCH Center Beside Audi Showroom</p>
                        <p class="address-line ">Sus Road Pune – 411021</p>
                    </div>
                    <div class="address ">
                        <h6><i class="bi bi-geo-alt-fill "></i> Registered Office</h6>
                        <p class="address-line ">Registered Office D-001,</p>
                        <p class="address-line ">Dhruv Tara C.H.S Plot No 18,</p>
                        <p class="address-line ">Sector 20 Airoli Navi Mumbai – 400708</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="horizontal-line "></div>

        <div class="container text-left ">
            <div class="d-flex justify-content-between align-items-center ">
                <span class="text-light ">©2024 InDeft Technology Solutions Private Limited | All rights reserved</span>
                <div>
                    <i class="bi bi-linkedin fs-3 mx-2 "></i>
                    <i class="bi bi-facebook fs-3 mx-2 "></i>
                    <i class="bi bi-instagram fs-3 mx-2 "></i>
                    <i class="bi bi-youtube fs-3 mx-2 "></i>
                </div>
            </div>
        </div>

    </footer>


    <!-- Bootstrap JS (optional, for toggling functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>

    <script>
        document.getElementById("contactBtn").addEventListener("click", function() {
            // Navigate to the contact.html page
            window.location.href = "/Indeft_site/templates/contact_us.html";
        });
    </script>

</body>

</html>