body {
    margin: 0;
    padding: 0;
    position: relative;
}


/* #full-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav {
    margin-left: auto;
    padding-top: 3vh;
    padding-right: 3vh;
}

.navbar {
    background-color: black;
}

.navbar-nav .nav-link {
    color: black !important;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: black !important;
    background-color: white!important;
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0101f8;
    color: white;
    text-align: left;
    padding: 20px;
}

.sub-footer {
    background-color: #343a40;
    color: white;
    position: relative;
    /* Change absolute to relative */
    top: 20px;
    /* Remove the calc() function */
    width: 100%;
    text-align: left;
    padding: 10px 0;
    line-height: 1.8;
}

.horizontal-line {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.address {
    margin-bottom: 20px;
}

.address-line {
    margin-bottom: 5px;
    font-size: 14px;
}

.square-block {
    background-color: #f8f9fa;
    padding: 20px;
    /* border-radius: 10px; */
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 8px 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.square-block h2 {
    margin-top: 0;
}

.square-block ul {
    list-style: none;
    padding-left: 0;
}

.square-block ul li {
    margin-bottom: 10px;
}

.square-block ul li i {
    margin-right: 5px;
}

.blue-box {
    background-color: #2d93f8;
    padding: 5% 5% 5% 5%;
}

.white-block {
    background-color: #f8f9fa;
    padding: 20px;
    /* border-radius: 10px; */
    text-align: left;
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 100%;
    width: 100%;
    border-radius: 4%;
    /* box-shadow: 8px 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1); */
}

.white-block:hover {
    box-shadow: 4px 4px 4px 4px rgba(0.1, 0.1, 0.1, 0.1);
    transform: scale(1.03);
    transition: 0.3s all ease-in-out;
}

.stretched-menu {
    min-width: 1000vw;
    /* left: 0 !important; */
    /* right: 0 !important; */
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu {
    left: 0;
    height: 80vh;
}

.dropdown-item {
    /* width: calc(100% - 20px); */
    width: 1vh;
    margin: 0 10px 10px 0;
    position: relative;
}

.dropdown-item.with-image {
    text-align: center;
}

.dropdown-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 5px;
}

.dropdown-item a {
    display: block;
    text-align: center;
}

.background-container {
    width: 100vh;
}

.contact-us-image img {
    width: 108vh;
    height: 60vh;
}

.dark-overlay {
    position: relative;
    /* display: inline-block; */
    overflow: hidden;
    height: 60vh;
}

.dark-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the opacity to control darkness */
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.Contact_us_over_image {
    height: auto;
    left: 100vh;
}

.hover-image {
    transition: opacity 0.5s ease-in-out;
}

.hover-image:hover {
    transition: 0.7s ease-in-out;
    transform: scale(1.2);
}

.btn-arrow .btn-arrow-icon {
    transition: 0.5s ease-in-out;
    display: none;
}

.btn-arrow:hover .btn-arrow-icon {
    display: inline-block;
}

.box:hover {
    background-color: #e0dfdf;
    /* Change background color on hover */
    animation: blink 1s infinite alternate;
    /* Add blinking animation on hover */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.box:hover {
    background-color: #e0dfdf;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.next-industry-block {
    left: 100px;
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    height: 360px;
    width: 33%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 60%;
}

.next-industry {
    background-color: #2d2db4;
    background-size: 100% 100%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.headfone-img {
    padding-left: 0%;
}

@media (max-width: 768px) {
    .next-industry {
        background-size: cover;
        padding-bottom: 15%;
    }
    .headfone-img {
        top: 20px;
        left: 40px;
    }
}

.next-industry-image {
    height: 170px;
    background-color: #2d2db4;
    margin: 0;
}

@media (max-width: 576px) {
    .hide-on-mobile {
        display: none;
    }
    .adjust-sqaure {
        margin-top: 0;
    }
}

.adjust-sqaure {
    margin-top: -6%;
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none;
    }
    .hide-on-laptop {
        display: none;
    }
}

.bottom-bar {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0e2e51;
}

.bottom-bar .icon {
    color: white;
    font-size: 24px;
}

.list-unstyled li a {
    text-decoration: none;
    color: white;
}

.vertical-line {
    border-left: 1px solid #e0dfdf;
    min-height: 170px;
    max-height: 100%;
}