/* Navbar styles */
h1{
    font-size: 53px;
  }
  .container-fluid{
    position: relative ;
  }
  .navbar {
    background-color: #000000;
    margin-top: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999; /* Ensure navbar stays on top */
      opacity: 80%;
      border-bottom: solid .1px rgba(255, 255, 255, 0.263);
    }
    /* Color when scrolled */
    .scrolled {
      background-color: #000000; 
  }
  /* Style for active link */
  
  
    .navbar:hover{
      border-bottom: 1px solid rgba(162, 162, 162, 0.5);
      opacity: 100%;
      
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(255, 255, 255, 0),
      0 0 80px rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.825); /* Adjust the alpha value for transparency */
      transition: 0.2s ease-in-out;
    }
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  
    }
    .navbar:hover .navbar-nav li a{
      color: #ffffff;
      font-size: 17px;
      opacity: 1;
    }
  
    .nav-item{
      gap: 10px;
    }
    .navbar li a{
      display: block;
      padding: 15px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 17px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .navbar-nav .nav-link.active {
      color: rgb(0, 255, 255) !important;
  
      border-radius: 10px;
      /* padding-left: 10px; */
      font-size: 17px;
  
    }
  
    /* Megamenu */
  
    /* .megamenu{
      padding: 20px;
      background-color: #ffffff;
      height: 70vh;
      width: 100%;
      left: 0;
      top: 120%;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
    }
  .megadiv:hover .megamenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
  } */
  
  .mega-menu {
    position: absolute;
    left: 0;
    top: 120%;
    background-color: #ffffff;
    width: 100%; /* Fixed width for the mega menu */
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    border-bottom: solid 1px rgb(137, 137, 137);
    box-shadow: 10 10 10 0.4 rgb(0, 0, 0);;
  
  }
  
  .mega-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    transition: .5s;
  }
  
  .mega-menu li {
    padding: 10px 0;
  }
  
  .mega-menu a {
    color: #fff;
    text-decoration: none;
  }
  .navbar li:hover .mega-menu {
  
    transition: .5s;
    top: 85%;
    opacity: 1;
    visibility: visible;
  }
  .industries_megamenu {
    flex-wrap: wrap;
    gap: 15px;
    display: flex;
    
  }
  .wad>a{
    font-weight: 800;
    font-family:'serif';
    line-height: 2rem;
  }
  .wad>a :hover{
    color: #2600ff;
  }
  #servicerightblock4{
    display: none;
  }
  #servicerightblock2{
    display: none;
  }
  #servicerightblock3{
    display: none;
  }
  
  .card-body{
    background-color: #00000084;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 80px;
    width: 200px;
  }
  .card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #megaimg{
    height: 80px;
    width: 200px;
    object-fit: cover;
  }
  .card-body:hover .card-text{
    color: #06ff23;
  
  }
  .ricon{
    display: flex;
    align-items: self-end;
    text-align: end;
    justify-content: end;
  }
  .ricon span{
    height: 200px;
    width: 200px;
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
  }
  .ricon span:hover{
  color: #06ff23;
  }
  
  .carousel-caption{
    color: #000000;
    font-size: 50px;
    font-family: cursive;
    position: absolute;
    top: 20%;  left: 5%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .head1{
  font-size: 50px;
  font-weight: 1000; color: #ff00f7;
  margin-top: 0;
  }
  .carousel-caption .head2{
  
  font-weight: 1000; 
  color: #ffffff;
  font-family: serif;
  margin-top: 2rem;
  }
  .container{
    position: relative;
    top: 1rem;
  }
  .head3{
  
    font-weight: 1000; 
    color: #ffffff;
    font-family: serif;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      align-items: center;
  justify-content: space-between;
  display: flex;
    }
    
    .caroCont{
      background-color: #202020;
      border: solid 10px rgb(1, 255, 35);
  
    }
    .btn-arrow-icon {
      transition: opacity 0.3s ease;
      opacity: 0;
      margin-left: 5px; /* Adjust as needed */
    }
  
    /* Show arrow on hover */
    .btn-arrow:hover .btn-arrow-icon {
      opacity: 1;
    }
    /* Add more specific class selectors for different overlay colors */
    .overlay.red { background-color: rgb(64, 0, 255); }
    .overlay.blue { background-color: rgba(0, 0, 255, 0.5); }
    .overlay.green { background-color: rgba(0, 255, 0, 0.5); }
  
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #00b616;
      min-width: 160px;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Carousel styles */
  #c-img{
    height: 600px;
    object-fit: cover;
    opacity: 80%;
  }
  
  /* Section2 */
  .sec_card{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .card_cont_2 {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .sec_text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .card{
    border: none;
    transition: .5s;
  }
  .card:hover{
    transform: scale(1.1);
    transition: all ease-in-out .3s;
    
  }
  #sec_cont_card{
    gap: 30px;
    display: block;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .navbar-dark .navbar-toggler-icon {
    color: red; /* Change this to the desired color */
  }
  /* Services */
  .show {
    display: block !important;
}
  .industries_megamenu .card-body .nav-link.active{
    background-color: #def5ff;
    width: 100%;
    border-right: 8px solid rgb(255, 0, 132);
    border-radius: 0;

  }
  
  .btn{
    font-size: 0.8rem;
    /* border: #00b616 solid 10px; */
  
    height: auto;
     /* Adjust the font size as per your requirement */
  }

  /* Maruee */
.slider{
  background-color: #dcffe0;
  height: auto;
  position: relative;
  overflow: hidden;
  width: auto;
  margin: auto;
  /* border: #000000 solid; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider .slider-track{
  /* border: #06ff23 solid; */
 
  display: flex;
  animation: marquee 40s linear infinite;
  width: calc(250px * 14);
}
.slider .slide{

  position: relative;
  display: flex;
  /* border: #ff00f7 solid; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: auto;
}
.slide > img{
  /* border: blue solid; */
  width: 100px;
  height: auto;
  object-fit: contain;
}

/* Section-3 */
.sec_3_card .p2{
  font-size: 2.5rem;
  font-family: Inter Bold;
  line-height: 1.2;
}
.sec_3_card .p1{
  font-size: 1.8rem;
  font-family: Bold;
  line-height: 1.2;
  margin-bottom: 1.1rem;
}
.sec_3_card{
  border-radius: 10px;
  color: #fff;
  padding: 6% 3% 6% 6%;
  background-color: #000;
}
.greensubp{
  color: #8bc53f !important;
  font-weight: 600;
}
.whitebox{
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex: 0 0 66.666667%;
}
.whitebox>p{
  color: rgb(0, 0, 0);

  font-size: 17px;
  font-weight: 500;
}
/* button  */
#dt1,#bt1,#cs1,#end1{
  color: rgb(255, 255, 255);
  background-color: #06ff23;

}

/*  */


/* #dtid .nav-link.active{
  background-color: #ff00f7;
} */
.btncolor{
  color: #06ff23;
  background-color: #ff00f7;
}
#serviceblock1{
  margin-top: 1rem;
  color: white;
  position: relative;
  align-items: start;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}
#serviceblock2 ,#serviceblock3, #serviceblock4{
  margin-top: 1rem;
  display: none;
  color: white; 
  position: relative;
  align-items: start;
  justify-content: center;
  text-align: start;
  gap: 2rem;
  flex-wrap: wrap;
}


.service_card1:hover {
  border-right: 10px solid rgb(86, 227, 255);
  /* border-right: 10px solid rgb(0, 255, 238); */
  transform: scale(1.01)
}

.service_card1 {
  border-right: 10px solid rgb(106, 255, 0);
  /* border-right: 10px solid rgb(0, 255, 238); */
  transition: all ease-in-out .5s;
  position: relative;
  color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.626) 0px 1px 4px;
  height: 150px;
  width: 350px;
  background-color: #ffffff;
  transform: scale(1);
  animation: greenShadow 2s infinite alternate; /* Apply animation to create continuous effect */
}

@keyframes greenShadow {
  0% {
    box-shadow: rgba(0, 72, 255, 0.626) 0px 1px 4px; /* Original shadow */
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 8px; /* Green shadow effect */
  }
}

.service_card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(144, 238, 144, 0.8), transparent);
  transform: translate(-100%, -100%);
  transition: transform 0.3s ease;

  
}

.service_card1:hover::before {
  transform: translate(0, 0);
  z-index: -1;
  
}


.service_card1 a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-wrap: wrap;

}
#serviceblock2{
  color: #000;
}
#serviceblock3{
  color: #000;
}
#serviceblock4{
  color: #000;
}

@keyframes marquee {
  0% {
    transform: translateX(0%); /* Start from the right side */
  }
  100% {
    transform: translateX(calc(-250px * 7)); /* Move to the left side */
  }
}

    @media (max-width: 876px) { /* Adjust the max-width according to your preference */
      .head1{
        font-size: 40px;
      }
      .head2{
        font-size: 35px;
      }
      .head3{
        font-size: 30px;
      }
      .nascomimg{
        width: 100px;
        height: auto;
      }
      .divbtn .btn {
        font-size: 0.8rem;
        /* border: #00b616 solid 10px; */
        display: block;
        width: 50%;
         /* Adjust the font size as per your requirement */
      }
      #serviceblock2 #serviceblock1 #serviceblock3 #serviceblock4{
        border: #000 solid 10px;
        
        
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        text-align: start;
        height: auto;
        width: 100%;
      }
      .service_card1{
        width: 200px;
        height: 200px;
        font-size: 13px;
      }
      .cardbackimg{
        display: none;
      }
    }
    @media (max-width: 440px) {

      .navbar{
        border: none;
      }
      .container{
        position: relative;
        top: 3rem;
  
        /* border:solid red; */
      }
      .overimg {
        position: relative;
        max-width: 50%; /* Ensures the image doesn't overflow its container */
      }
      .cont-nascom{
        display: flex;
        width: 100%;
        height: 200px;
      }
      .nascomimg{
        border: #ff00f7 solid 10px;
        width: 130px;
        height: auto;
      }
      .col-4 {
        position: relative;
        flex: 0 0 100%; /* Forces the column to take full width */
        max-width: 100%; /* Ensures the column takes full width */
        text-align: center; /* Centers the image */
      }
    
      .col-8 {
        flex: 0 0 100%; /* Forces the column to take full width */
        max-width: 100%; /* Ensures the column takes full width */
        text-align: start; /* Centers the text */
      }
    
      .divbtn {
        margin-top: 20px; /* Adds some spacing between buttons and text */
      }
      .head1{
        font-size: 33px;
      }
      .head2{
        font-size: 26px;
      }
      .head3{
        font-size: 22px;
      }
      .btn{
        font-size: 0.8rem;
        /* border: #00b616 solid 10px; */
        width: 50%;
        height: 30px;
         /* Adjust the font size as per your requirement */
      }
      .btn:nth-child(2){
        background-color: #00b616;
  
      }
      .slider{
        margin-top: 2rem;
      }
      .whitebox > p{
        font-size: 15px;
      }
      .service_card1 {
        
        height: 120px;
        width: 350px;
    
      }
      .cardbackimg{
        display: none;
      }
    }
    /* @media (min-width: 770px) and (max-width: 1400px) {
     
      hr{
        display: none;
      }
      .sec_card{
        border: #ff00a293 solid 10px;
      }
      .card{
        width: 50px;
        height: auto;
        border: solid red 10px;
        
      }
      .card-body{
        border: gray solid 5px;
        height: 100px;
        width: 100px;
      }
      .card_cont_2{
        display: flex;
        flex-wrap: wrap;
        background-color: #06ff23;
      }
      #sec_cont_card{
        border: solid 10px greenyellow;
      
        height: auto;
        align-items: start;
        justify-content: start;
        text-align: start;
        display: block;
      }

      .card-body > img{
        border:  solid pink 10px;
        display: none;
      }
      .cardbackimg{
        width: 50px;
        height: auto;
      }
    } */

    
@media (min-width: 770px) and (max-width: 1400px) {
  .slider{
    margin-top: 2rem;
  }
  #sec_cont_card{
    justify-content: space-around; /* Adjust spacing between cards */
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
    width: 100%;
  }
  
  hr{
    display: none;
  }
.card-body > img{
  display: none;
}
.cardbackimg{
  display: none;
}

}
